%h1 About Us
%body{:id => @body_id}
= image_tag("fridayhug.jpg")
%p WE ARE AWESOME
%ul
  %li
    %a{href: 'http://ichabodcole.github.com'} Cole Reed
  %li
    %a{href: 'http://chuckvose.com'} Chuck Vose
  %li
    %a{href: 'http://neilmakn.github.com'} Neilson Maknarakham
  %li
    %a{href: 'http://fayeishere.github.com'} Faye Purdum
  %li
    %a{href: 'http://lavapj.github.com'} Patti Lavallee
  %li
    %a{href: 'http://phil0xf7.github.com'} Phil Pham
  %li
    %a{href: 'http://wobh.github.com'} William Clifford
  %li
    %a{href: 'http://criskelly.github.com'} Cris Kelly
%section
  %a{href: 'http://www.portlandcodeschool.com/'}= image_tag("black-dino.png")
<div id="b" style="position:absolute; top:50px">B</div>
$(document).ready(function() {
    $("#b").animate({left: "+=500"}, 2000);
    $("#b").animate({left: "-=300"}, 1000);
});